* {
  box-sizing: border-box;
}

body {
  background-color: #F5F5F5;
  font-family: 'Heebo', sans-serif;
  margin: 0;
}

/* CARD FORMATTING TOP TWO CARDS ALIGNED */
.container {
 max-width: 900px;
 margin: 10px auto;
}


.card-headers-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px auto;
  justify-content:space-between;
  gap: 20px;
}

.left-card-white {
  width: 45%;
  flex: 400px;
  height: 100%;
  min-height: 380px;
  min-width: 340px;
  background-color: #FEFFFE;
  border-radius: 3px;
  padding: 18px;
  box-shadow: 0px 2px 3px rgba(188, 184, 177, .3);
  position:relative;
}

.right-card-white{
  width: 45%;
  height: 100%;
  flex: 400px;
  min-width: 340px;
  min-height: 380px;
  background-color: #FEFFFE;
  border-radius: 3px;
  padding: 18px;
  box-shadow: 0px 2px 3px rgb(188, 184, 177, .3);
  text-align: center;
}

/* REST OF CARDS FORMATTING BELOW */

.card-white {
  background-color: #FEFFFE;
  min-width: 340px;
  width: 100%;
  margin: 10px auto;
  border-radius: 3px;
  padding: 18px;
  box-shadow: 0px 2px 3px rgba(188, 184, 177, .3);
}

.card-music {
  position: relative;
}

/* IMAGES FORMATTING BELOW */

.img-curved {
  border-radius: 1px;
  flex: 400px;
}

/* SOCIALS DIV FORMATTING BELOW */

.socials-card-white {
  background-color: #FEFFFE;
  min-width: 340px;
  width: 100%;
  margin: 10px auto;
  border-radius: 3px;
  padding: 18px;
  box-shadow: 0px 2px 3px rgba(188, 184, 177, .3);
  text-align: center;
}

.list-inline {
  list-style: none;
  margin: 0px;
  padding-left: 0px;
}

.list-inline li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

#socials-header-center {
  text-align: center
}

.socials-card-white a {
  color: black;
  font-size: 24px;
  text-decoration: none;
}

/* BUTTON FORMATTING BELOW */

.button-left-aligned {
  width: fit-content;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 2px 3px rgba(188, 184, 177, .3);
  color: #FEFFFE;
  text-decoration: none;
  font-weight: bold;
  position: absolute;
  left: 18px;
  bottom: 18px;
}


.button-left-aligned:hover {
  background-color: white;
  border: 1px solid black;
  color: black
}

/* TEXT FORMATTING BELOW */

h1 {
  text-align: left;
  padding-bottom: 10px;
  margin: 0px
}

h2 {
  text-align: justify;
  font-size: 19px;
  margin: 0px;
  padding-bottom: 10px;
}

h3 {
  text-align: justify;
  font-size: 19px;
  margin: 0px;
  padding-bottom: 5px;
}

p {
  text-align: justify;
  margin: 0px
}

.card-music p {
  padding-bottom: 10px
}

.left-card-white p {
  padding-bottom: 10px
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
